.country-button{
    @apply inline-flex justify-start w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none
}

.dropdown-list{
    @apply origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 h-[200px] overflow-hidden overflow-y-scroll cursor-pointer
}

/* Custom scrollbar */
/* Width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 6px;
  }
  
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e0e9f4;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1890ff;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1890ff;
  }